$main-bg: hsl(222, 26%, 31%);
$keypad-bg: hsl(223, 31%, 20%);
$screen-bg: hsl(224, 36%, 15%);
$key-bg-dark-blue: hsl(225, 21%, 49%);
$key-bg-light-grey: hsl(30, 25%, 89%);
$key-bg-red: hsl(6, 63%, 50%);
$key-shadow-dark-blue: hsl(224, 28%, 35%);
$key-shadow-light-grey: hsl(28, 16%, 65%);
$key-shadow-red: hsl(6, 70%, 34%);
$text-dark-grayish-blue: hsl(221, 14%, 31%);
$text-white: #fff;
$btn-font-size: 2rem;
